@tailwind base;
@tailwind components;
@tailwind utilities;

.resizer {
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: none;
  user-select: none;
  width: 2px;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

*,
html {
  scroll-behavior: smooth !important;
}
